@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--max-width: min(90vw, 1200px);
}

button,
input,
label {
	cursor: pointer;
}

button,
input:not([type='file']),
select,
textarea {
	border: 1px solid #000000;
	border-radius: 0;
}

h1 {
	margin-top: 0.33em;
}

select {
	background-color: #ffffff;
	border-radius: 0;
}

.Input,
.Buttons {
	width: 100%;
	max-width: var(--max-width);
}

.Text textarea {
	padding: min(0.5rem, 5%);
}

.Colors {
	display: flex;
}

.Colors input {
	width: 100%;
}

.Output {
	border: 1px solid;
	text-align: center;
	margin: 0 auto;
}

.Output .canvas {
	justify-content: center;
	align-items: center;
	width: 1200px;
	height: 900px;
}
